$pink : #ec4c8a;
$morepink : #d04378;
$blue : #4369b2;
$moreblue : #4369b2;

.cardContainer {
  display: grid;
  grid-template-columns: 50% 50%;

  a {
    text-decoration: none;
  }

  .card {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: $pink;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;

    .img {
      width: 18vw;
      height: 12vw;
      border-radius: 1vw;
      border: solid 5px gold;
      background-position: center;
      background-size: cover;
    }

    .info {
      width: 50%;
      padding-right: 10px;

      h3 {
        font-family: 'Gill Sans', sans-serif;
        font-size: 4vw;
        font-weight: bold;
        margin: 0;
        text-align: right;
        margin-bottom: 10px;
        color: white;
      }

      h4 {
        font-family: 'Lato', sans-serif;
        font-size: 2.5vw;
        margin: 0;
        text-align: right;
        color: white;
        font-weight: normal;
      }

      h4:nth-child(3) {
        margin-bottom: 2vw;
      }
    }
  }

  a:nth-child(4n+3) .card {
    background-color: $morepink;
  }

  a:nth-child(4n+4) .card {
    background-color: $morepink;
  }
}
